<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row" *ngIf="orderSubmitted">
              <div class="col-lg-12">
                <h2>Thank you, your order was successfuly received. Order#: {{orderNumber}}</h2>

                <hr>
                <h5 class="mb-3">
                  <a href="javascript:void(0)" class="text-body" (click)="goToHomePage()">
                    <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                  </a>
                </h5>

              </div>
              </div>
              <div class="row" *ngIf="!orderSubmitted">

                <div class="col-lg-7">
                  <h5 class="mb-3">
                    <a href="javascript:void(0)" class="text-body">
                      <!--<i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping-->
                    </a>
                  </h5>
                  <hr>

                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{Order?.orderItems?.length}} items in your cart</p>
                    </div>
                    <div>
                      <p class="mb-0">
                        <span class="text-muted">Sort by:</span> <a href="javascript:void(0)"
                                                                    class="text-body">price <i class="fas fa-angle-down mt-1"></i></a>
                      </p>
                    </div>
                  </div>

                  <div class="card mb-3" *ngFor="let cart of Order?.orderItems">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img [src]="cart.productImage | safeHtml"
                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{cart.productName}}</h5>
                            <!--<p class="small mb-0"></p>-->
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 30px;">
                            <h5 class="fw-normal mb-0">{{cart.quantity}}</h5>
                          </div>
                          <div style="width: 100px;">
                            <h6 class="mb-0">R{{cart.productPrice}}</h6>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">

                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">R{{subTotal}}</p>
                      </div>

                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2">R{{total}}</p>
                      </div>

                      <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <!--<span>R4818.00</span>-->
                          <span (click)="submitOrder()">Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                      </button>

                    </div>
                  </div>

                </div>

              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
